%h1= @title

- c = @content.commits.first
%p Last updated on #{date_format(c.committed_date)}

- unless @content.commit.latest?
  %p
    %em
      The content you are viewing is out of date. View the
      %a(href="#{@content.url_canonical}") most recent revision.
      -#was updated on
      -#%a(href="#commit-#{c.short_sha}") #{date_format(c.committed_date)}.

~ @rendered

%h3 Tags
%ul#tags
-#  - @content.meta.tags.each do |tag|
-#    %li
-#      %a(href="#{tag_url tag}")= tag

%h3 Categories
%ul#categories
-#  - @content.meta.categories.each do |cat|
-#    %li
-#      %a(href="#{cat_url cat}")= cat

%h3 Revisions
%ul#revisions
  - @content.commits.each do |c|
    %li{ class: c.current? && 'current', id: "commit-#{c.sha}" }
      %a(href="#{c.latest? ? @content.url_canonical : @content.url(c)}")
        %span.date= date_format(c.committed_date)
        \-
        %span.message= c.message
      -#%span.author= c.committer
      %ul.diffs
        - c.diffs.each do |d|
          - link = capture_haml do
            %a(href="#{@content.url(c)}/#{d.name}") #{d.name}
          - mode = d.created? ? 'added' : d.deleted? ? 'deleted' : 'updated'
          %li{ class: mode }
            %span.title #{link} #{mode}
            ~ Gaucho::Renderer.render_diff(d) unless d.deleted?

%h3 Comments
