%h1="foo"


Recent content:
%ul#all_content
  - @pages[0..5].each do |p|
    %li
      %a(href="#{p.url}")= p.title
      %div= p.excerpt
      %div
        categories:
        - p.categories.each do |c|
          %a(href="#{cat_url c}")= c
      %div
        tagged:
        - p.tags.each do |t|
          %a(href="#{tag_url t}")= t
      %div
        %em
          = p.commits.length == 1 ? 'Created on' : 'Last updated on'
          = date_format(p.commit.committed_date)

All categories:
%ul#all_categories
  - @cats.each do |c|
    %li
      %a(href="#{cat_url c}")= c

All tags:
%ul#all_tags
  - @tags.each do |t|
    %li
      %a(href="#{tag_url t}")= t
