%h1= @title

%p Last updated on #{@page.commit.committed_date.strftime('%m/%d/%Y, %I:%M %p')}

- unless @page.commit.latest?
  - c = @page.commits.first
  %p
    %b
      This page is out of date. The
      %a(href="#{@page.url_canonical}") most recent version
      was updated on
      %a(href="#commit-#{c.sha}") #{c.committed_date.strftime('%m/%d/%Y, at %I:%M %p')}.

~ @content

%h3 Tags

%h3 Categories

%h3 Revisions
%ul#commits
  - @page.commits.each do |c|
    %li{ class: c.current? && 'current', id: "commit-#{c.sha}" }
      %a(href="#{c.latest? ? @page.url_canonical : @page.url(sha: c.sha)}")
        %span.date= c.committed_date.strftime('%Y-%m-%d, %I:%M %p')
        \-
        %span.message= c.message
      -#%span.author= c.committer
      %ul.diffs
        - c.diffs.each do |d|
          - if d.created
            %li.added
              %span.title #{d.asset} added
              ~ PageRender.diff(d)
          - elsif d.deleted
            %li.deleted #{d.asset} deleted
          - else
            %li.updated
              %span.title #{d.asset} updated
              ~ PageRender.diff(d)

%h3 Comments
