:plain
  <style>
  .diff {overflow:auto;}
  .diff ul{color:#000;background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
  .diff del, .diff ins{display:block;text-decoration:none;}
  .diff li{padding:0; display:table-row;margin: 0;height:1em;}
  .diff li.ins{background:#dfd}
  .diff li.del{background:#fdd}
  .diff li:hover{background:#ffc}
  /* try 'whitespace:pre;' if you don't want lines to wrap */
  .diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
  .diff del strong{font-weight:normal;background:#faa;}
  .diff ins strong{font-weight:normal;background:#afa;}
  </style>

%a{ href: '/' } &laquo; Index

%h1= @title

%p Last updated on #{date_format(@commits.last.committed_date)}

- if @page.has_local_mods?
  %p
    %em
      Note:
      - if @page.shown_local_mods?
        Showing local modifications. View the
        %a{ href: @commits.last.url } most recent commit
        instead.
      - else
        This page has
        = succeed '.' do
          %a{ href: @page.url } local modifications

- unless @commit.latest?
  %p
    %em
      The content you are viewing is out of date. View the
      %a{ href: @page.url } most recent revision.
      -#was updated on
      -#%a{ href: "#commit-#{c.short_sha}" } #{date_format(c.committed_date)}.

~ @content

%h3 Tags
%ul#tags
  - @page.tags.each do |tag|
    %li
      %a{ href: tag_url(tag) }= tag

%h3 Categories
%ul#categories
  - @page.categories.each do |cat|
    %li
    %a{ href: cat_url(cat) }= cat

%h3 Revisions
%ul#revisions
  - @commits.reverse.each do |c|
    %li{ class: c.shown? && 'shown', id: "commit-#{c.short_sha}" }
      %a{ href: c.url }
        %span.date= date_format(c.committed_date)
        \-
        %span.message= c.message
      -#%span.author= c.committer
      - if true
        %ul.diffs
          - c.diffs.each do |d|
            - link = capture_haml do
              %a{ href: d.url } #{d.file}
            %li{ class: d.status }
              %span.title #{link} #{d.status}
              ~ render_diff(d) unless d.deleted?

%h3 Comments
