%h1= @title


Recent content:
%ul#all_content
  - @pages.each do |p|
    %li
      %a{ href: p.url }= p.title
      %div= p.subtitle
      -#%div= p.commit.id
      %div
        categories:
        - p.categories.each do |cat|
          %a{ href: cat_url(cat) }= cat
      %div
        tagged:
        - p.tags.each do |tag|
          %a{ href: tag_url(tag) }= tag
      %div
        %em
          = p.commits.length == 1 ? 'Created on' : 'Last updated on'
          = date_format(p.commit.committed_date)

All categories:
%ul#all_categories
  - @cats.each do |cat|
    %li
      %a{ href: cat_url(cat) }= cat

All tags:
%ul#all_tags
  - @tags.each do |tag|
    %li
      %a{ href: tag_url(tag) }= tag
