%h1= @title

%h2 Projects
- @projects.each do |title, pages|
  %h3= title
  %ul
    - pages.each do |p|
      %li
        %a{ href: p.url }= p.title
        - if p.has_fs_mods?
          %i
            %b MODIFIED
        %i= ' - ' + p.subtitle

Recent content:
%ul#all_content
  - @pages.each do |p|
    %li
      %a{ href: p.url }= p.title
      - if p.has_fs_mods?
        %i
          %b MODIFIED
      %div= p.subtitle
      -#%div= p.commit.id
      %div
        categories:
        - p.categories.each do |cat|
          %a{ href: cat_url(cat) }= cat
      -#%div
      -#  tagged:
      -#  - p.tags.each do |tag|
      -#    %a{ href: tag_url(tag) }= tag
      -#%div
      -#  %em
      -#    = p.commits.length == 1 ? 'Created on' : 'Last updated on'
      -#    = date_format(p.date)

All categories:
%ul#all_categories
  - @cats.each do |cat|
    %li
      %a{ href: cat_url(cat) }= cat

All tags:
%ul#all_tags.tag-cloud
  - @tags.each do |tag|
    %li
      %a{ style: "font-size: #{tag.scale}%", href: tag_url(tag.tag) }= tag.tag
