%h1= @title
- if @page.subtitle
  %p.subtitle= @page.subtitle

%p.last_updated Last updated on #{date_format(@page.date)}

- if @page.has_fs_mods?
  %p
    %em
      Note:
      - if @page.shown_fs_mods?
        Showing local modifications.
        - if @page.committed?
          View the
          %a{ href: @page.latest_actual_commit.url } most recent commit
          instead.
        - else
          This page hasn't been committed yet.
      - else
        This page has
        = succeed '.' do
          %a{ href: @page.url } local modifications

- elsif !@commit.latest?
  %p
    %em
      The content you are viewing is out of date. View the
      %a{ href: @page.url } most recent revision.
      -#was updated on
      -#%a{ href: "#commit-#{c.id}" } #{date_format(c.date)}.

~ @content

%h3 Tags
%ul#tags
  - @page.tags.each do |tag|
    %li
      %a{ href: tag_url(tag) }= tag

%h3 Categories
%ul#categories
  - @page.categories.each do |cat|
    %li
      %a{ href: cat_url(cat) }= cat

%h3 Revisions
%ul#revisions
  - @commits.reverse.each do |c|
    %li{ class: c.shown? && 'shown', id: "commit-#{c.id}" }
      %a{ href: c.url }
        %span.date= date_format(c.date)
        \-
        %span.message= c.message
      = surround '(', ')' do
        - if c.author.email
          %a{ href: "mailto:#{c.author.email}" }= c.author.name
        - else
          = c.author.name
      -#%span.author= c.committer
      - if true
        %ul.diffs
          - c.diffs.each do |d|
            - link = capture_haml do
              %a{ href: d.url } #{d.file}
            %li{ class: d.status }
              %span.title #{link} #{d.status}
              ~ render_diff(d) unless d.deleted?
